* {
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif !important;
}

.hero {
  background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);

}

@media (max-width : 991px) {
  .navbar {
    border-radius: 0 !important;
  }
}

.footer {
  border-radius: 15px;
  background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
}