* {
    box-sizing: border-box !important;
    font-family: "Poppins", sans-serif !important;
  }
  .hero{
    /* max-width: 100%;
    height: 617px; */
    background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);

  }
  @media (max-width : 991px){
    .navbar{
    border-radius: 0 !important;
    }
  }